
h1{
    front-size: 20px;
    text-align: left;
    padding: 20px;
    texr-size: 30px;
}
div {
    background-color: slategray;
}
.post-1 {
    margin-bottom: 50px;
}
div {
    padding: 20px;
    border-color: lightslategrey;
    text-size: 20px;
}
.post-2 {
    margin-bottom: 50px;
}
div {
    padding: 20px;
}
.post-3 {
    background-color: lightsteelblue;
    margin-trim: 50px;
}
















